<!--------------- NAV -------------------------------------->
<%= render :partial => "/home/nav" %>


<div class="row">
  <div class="col-md-4 col-sm-3 col-xs-1"></div>
  <div class="col-md-4 col-sm-6 col-xs-10">
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="box_title">Forgot your password?</div>
    
      <div class="field input_box">
        <%= f.email_field :email, autofocus: true, placeholder:"Email"  %>
      </div>
    
      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
      
      </br>
      <a href="/">Sign in</a><br/>
      <a href="/users/sign_up">Sign up</a><br/>
      
    <% end %>
    
  </div>
</div>

